.Footer {
    width: 100%;
    Height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: grey;
    bottom: 0; 
    position: fixed;
}

.footerTitle {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
} 

.footNav {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 14px;
   font-weight: 300;
}

.logoInsta {
    margin-top: 3px;
    margin-left: 6px;
    width: 25px;
    height: 25px;
} 

.foot-text {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.foot-link {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 390px){
    .Footer {
        width: 100%;
        height: 6%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 5px;
    }
    
    .footerTitle {
        font-size: 12px;
    } 
    
    .footNav {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       font-size: 12px;
       font-weight: 300;
    }
    
    .logoInsta {
        margin-top: 5px;
        margin-left: 5px;
        width: 15px;
        height: 15px;
    } 
    
    .foot-text {
        font-size: 10px;
        font-weight: 300;
        color: grey;
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .foot-link {
        font-size: 10px;
        font-weight: 300;
        color: grey;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 391px) and (max-width: 767px){
    .Footer {
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 12px;
        padding-top: 0px;
        margin-top: 0px;
    }
    
    .footerTitle {
        font-size: 12px;
    } 
    
    .footNav {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       font-size: 12px;
       font-weight: 300;
    }
    
    .logoInsta {
        margin-top: 3px;
        margin-left: 3px;
        width: 15px;
        height: 15px;
    } 
    
    .foot-text {
        font-size: 12px;
        font-weight: 300;
        color: grey;
        margin-top: 0px;
        margin-right: 5px;
        margin-left: 0px;
    }
    
    .foot-link {
        font-size: 12px;
        font-weight: 300;
        color: grey;
        margin-right: 5px;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px){
    .Footer {
        width: 100%;
        Height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: grey;
        border: none;
        bottom: 0; 
        position: sticky;
    }
    .footerTitle {
        font-size: 14px;
        margin-top: 4px;
        margin-left: 0px;
    }    
    .footNav {
       width: 35%;
       height: auto;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       font-size: 14px;
       font-weight: 300;
    }
    
    .logoInsta {
        margin-top: 9px;
        margin-left: 0px;
        width: 15px;
        height: 15px;
    } 
    
    .foot-text {
        font-size: 14px;
        font-weight: 300;
        color: grey;
        margin-top: 6px;
        margin-right: 5px;
        margin-left: 0px;
    }
    
    .foot-link {
        font-size: 14px;
        font-weight: 300;
        color: grey;
        margin-right: 7px;
        margin-left: 0px;
        margin-top: 6px;
    }
}