.PrestaList {
    width: 100%;
    height: 75%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    background-color: var(--articles-background-color);
}

.prestaLeftContainer {
    width: 50%;
    height: 90%;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 30px; 
    padding-top: 20px;
}

.prestaImg {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.prestaRightContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 30px;   
}

.prestaTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
    margin-left: 20px;
}
.prestaTitle {
    font-size: 26px;
}

.prestaText {
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 17px;
    margin-bottom: 17px;
    margin-left: 20px;
    font-weight: 400;
    text-align: justify;
}

.prestaButtonContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.prestaButton {
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-color: #2E2E2E;
    color: white;
    border-radius: 5px;
    margin: 30px;
}